/* Global Selectors */

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    background-color: rgb(66, 64, 64);
    color: white;
    padding:80px;
    
}

/* Quiz Title */
.mainheader {
    text-align: center;
    padding: 50px;
}

h1 {
    color: #c7870f;
    font-size: 60px;
}

/* Question Box */

.quizbox {
    box-sizing: border-box white solid 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border:#c7870f solid 5px;
    padding: 25px;
    border-radius: 15px;
    background-color:black;
    flex-direction: column;
}

/* Timer */

.timerbox {
    margin: 20px;
    justify-content: center;
    color: #65abe9;
}

.hidden {
    display:none;
    
}

/* Question Choices Styling */

.correctAnswer {
    border: #c7870f solid 2px;
    border-radius: 10px;
    margin: 8px;
    padding: 5px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: large;
}
.incorrectAnswer {
    border: #c7870f solid 2px;
    border-radius: 10px;
    margin: 8px;
    padding: 5px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: large;
}

#quiz-start {
    text-align: center;
    font-size:20px;
    padding: 10px;
    color: #c7870f;
    border: white solid 1px;
    text-decoration: none;
    margin-right: 25px;

}
